//--------------------------------------------------
//Variables
//--------------------------------------------------

//colors

//animations
$expo:                   cubic-bezier(1.000, 0.000, 0.000, 1.000); 
$smooth:                 cubic-bezier(.49, .06, .21, .98);

//various 